<!doctype html>
<html lang="en">

<head>
	<title>JSN / {{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="en" />
	
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js"></script>

<!-- Custom styles -->
<link rel="stylesheet" href="/assets/stylesheets/css/styles.css" type="text/css" media="screen" />

</head>

<body>
{{ content }}
</body>

</html>