<div class="text-head" id="case-studies">Case Studies</div>

	<div class="fourcol">
		
		<p>
			<div class="portal-container"><a class="portal2" style="background:transparent url(/assets/images/traveal/Traveal-Deals.png) no-repeat -180px -145px;" href="/portfolio/traveal/"></a></div>
			<div class="projectname-startpage"><a href="/portfolio/traveal/">Traveal</a></div>
			<div class="credit-startpage">Travel Mobile App</div>
		</p>
	</div>
 
	<div class="fourcol">
 		<p>
 			<div class="portal-container"><a class="portal2" style="background:transparent url(/assets/images/visualplant/player.jpg) no-repeat -590px -270px;" href="/portfolio/visualplant/"></a></div>
 			<div class="projectname-startpage"><a href="/portfolio/visualplant/">Visualplant</a></div>
 			<div class="credit-startpage">Video Platform</div>
 		</p>
	</div>
	
	<div class="fourcol last">
		<p>
			<div class="portal-container"><a class="portal2" style="background:transparent url(/assets/images/mokini/mokini-logo.png) no-repeat -140px -165px;" href="/portfolio/mokini/"></a></div>
			<div class="projectname-startpage"><a href="/portfolio/mokini/">Mokini</a></div>
			<div class="credit-startpage">Web 3.0 Platform</div>
		</p>
	</div>