<div class="header clearfix">
	
	<div class="top-logo"><a href="/portfolio/harmonic/"><img src="/assets/images/harmonic/logo.png" style="margin-top: -6px;height: 35px;"></a></div>
	
	<div class="nav">
		<ul class="menu" style="clear: both;">
			
			<!-- shows for desktop -->
			
			
			<li><a href="/portfolio/harmonic/" class="active-globalsection" id="desktop-menu-link">competitor overview - NAB 2013</a>
				
			</li>
					
			
			
			<!-- shows for mobile -->
			<li><a href="#mobile" class="globalsection" id="mobile-menu-link">menu</a></li>
			
		</ul>
	</div>

</div>