<div class="header clearfix" id="top-header-nav">
	
	<div class="top-logo Texta-Regular"><a href="/">JSN</a></div>
	
	<div class="nav">
		<ul class="menu" style="clear: both;"> 
			
			<!-- shows for desktop -->
			<li><a href="/about/" 
			
				{% if page.section == 'about' %}
					class="active-globalsection" 
				{% else %}
					class="globalsection"
				{% endif %}
			
				id="desktop-menu-link">About</a>

			</li>
			
			<li><a href="/#works-featured" rel="m_PageScroll2id" data-ps2id-offset="58" data-placement="bottom" 

				{% if page.section == 'portfolio' %}
					class="active-globalsection work-nav-hover" 
				{% else %}
					class="globalsection work-nav-hover"
				{% endif %}

				id="desktop-menu-link"><span class="work-with-project-name">

				
				{% if page.section == 'about' %}
					Work 
				{% else %}
					Work: Case Study
				{% endif %}
				
				
				</span>{% if page.title == 'work' %}{% else %}<span class="project-name-in-header" onclick="location.href='#top'">: {{ page.title }}</span>{% endif %}</a>

				<!-- Display popover on hover/touch of element with class: work-nav-hover -->

					<div id="work-nav-popover" class="webui-popover-content" style="display: none;cursor: pointer;">
				          <ul class="dropdown-menu">
				          	<li role="header" style="margin-bottom: 10px;color: #aaa;">Top case studies</li>
				          	<li><a href="/portfolio/harmonic">VOS</a></li>
				            <li><a href="/portfolio/rambus">VaultifyTrade</a></li>
				            <li><a href="/portfolio/mokini">Mokini</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="/#works-featured" rel="m_PageScroll2id" data-ps2id-offset="58">More work</a></li>
				          </ul>
			         </div>

				<!-- /popover -->
				

			</li>

			


					
			<li><!--<a href="/articles/" --><a href="https://medium.com/@visualplant"
			
				 {% if page.section == 'articles' %}
				 	class="active-globalsection" 
				 {% else %}
				 	class="globalsection"
				 {% endif %}
				
				id="desktop-menu-link">Articles</a>
			</li>
			
			<!-- shows for mobile -->
			<li><a href="#mobile" class="globalsection" id="mobile-menu-link">menu</a></li>
			
		</ul>
	</div>

</div>