<div id="mobile-menu" style="display:none;">

	<ul style="text-align: center;">
		<li class="mobile-menu-item"><a href="#snell" rel="m_PageScroll2id">Snell</a></li>
		<li class="mobile-menu-item"><a href="#miranda" rel="m_PageScroll2id">Miranda</a></li>
		<li class="mobile-menu-item"><a href="#elemental" rel="m_PageScroll2id">Elemental</a></li>
		<li class="mobile-menu-item"><a href="#tedial" rel="m_PageScroll2id">Tedial</a></li>
		<li class="mobile-menu-item"><a href="#evertz" rel="m_PageScroll2id">Evertz</a></li>
		<li class="mobile-menu-item"><a href="#aspera" rel="m_PageScroll2id">Aspera</a></li>
		<li class="mobile-menu-item"><a href="#signiant" rel="m_PageScroll2id">Signiant</a></li>
		<li class="mobile-menu-item"><a href="#dalet" rel="m_PageScroll2id">Dalet</a></li>
		<li class="mobile-menu-item"><a href="#telestream" rel="m_PageScroll2id">Telestream</a></li>
		<li class="mobile-menu-item"><a href="#ntt" rel="m_PageScroll2id">NTT</a></li>
		<li class="mobile-menu-item"><a href="#ericcson" rel="m_PageScroll2id">Ericsson</a></li>
		<li class="mobile-menu-item"><a href="#cisco" rel="m_PageScroll2id">Cisco</a></li>
		
	</ul>

</div>






