<div class="twocol subnav scrolllink">
	
	<div style="max-width:331px;margin: 0 auto;">
	
		<a href="/portfolio/traveal/">
			<div 
		
			{% if page.title == 'traveal' %}
				class="selected-subnav"
			{% else %}
				class="portal-subnav"
			{% endif %}

			><div class="portal-subnav-text">Traveal</div>
			
			</div>
		</a>
		
		<a href="/portfolio/visualplant/">
			<div 
			
			{% if page.title == 'visualplant' %}
				class="selected-subnav"
			{% else %}
				class="portal-subnav"
			{% endif %}
			
			><div class="portal-subnav-text">Visualplant</div>
			
			</div>
		</a>
		
		<a href="/portfolio/mokini/">
			<div
			 
			{% if page.title == 'mokini' %}
				class="selected-subnav"
			{% else %}
				class="portal-subnav"
			{% endif %}
			
			><div class="portal-subnav-text">Mokini</div>
			
			</div>
		</a>
		
		<br clear="all" />
		
		<a href="/portfolio/#projects"><div class="more">more&hellip;</div></a>
		
	</div>
	
	<br clear="all" />
	
</div>
