---
layout: case
title: about
section: about 
tags: []
---

<div class="tencol last">			
	<div class="box work">

		<div class="full-width-box">
			
			{% include about.html %}
			
			<div class="section-divider">&nbsp;</div>

		</div> <!--	/full-width-box	-->
		
		<div class="full-width-box">
			
			{% include case-studies.html %}
			
			<br clear="all" /><br />

			<div class="section-divider">&nbsp;</div>

		</div> <!--	/full-width-box	-->
		
		<div class="full-width-box">
			
			{% include more-projects.html %}
									
			<br clear="all" />
			<br /><br />

		</div> <!--	/full-width-box	-->
		
		<div class="full-width-box">&nbsp;</div>
		

	</div> <!-- /box work -->
</div> <!-- /tencol -->