/* Mobile first - default */

.soundcloud-clip {
	width: 100%;
	margin-bottom: 15px;
	margin-right: 0px;
}

.project-name {
	font-size: 28px;
	line-height:1.5em;
}

.headline { 
	font-size:21px;
	line-height:1.2em;
}

.success-icon {
	opacity: 0;
	height: 10px;
}
	


/* Now desktop */
@media (min-width: 600px) {
   
   .soundcloud-clip {
   	float: left;
   	max-width: 48%;
   	margin-bottom: 0;
   	margin-right: 10px;
   }
   
   .project-name {
   	font-size: 38px;
   	line-height:1.0em;
   }
   
   .headline { 
   	font-size:28px;
   	line-height:1.3em;
   }
   
   .success-icon {
    opacity: 1.0;
    height: 65px;
   }
   
}