---
layout: base
---

{% include mobile-menu.html %}
{% include header.html %}

{{ content }}

{% include footer.html %}

<!-- Flexslider -->
<script type="text/javascript">
    $(window).load(function(){
    
      $('#slideshow').flexslider({
        animation: "slide",
        animationLoop: true,
        slideshow: false, // true to play automatically on page load
        start: function(slider){
          $('#slideshow').removeClass('loading');
        }
      });
      
      $('#slideshow-dos').flexslider({
        animation: "slide",
        animationLoop: true,
        slideshow: false, // true to play automatically on page load
        start: function(slider){
          $('#slideshow-dos').removeClass('loading');
        }
      });
      
    });
</script>


<script src="/assets/js/bootstrap-scrollspy.js"></script>

<!-- Inview  -->
<script src="/assets/js/jquery.inview.min.js"></script>

<!-- Waypoints  -->
<script type="text/javascript" src="/assets/js/waypoints.min.js"></script>
<script type="text/javascript">

/* Show case title in global nav when scrolled below summary */
	$('.project-name').waypoint(function(event, direction) {
	   	$('.project-name-in-header').toggleClass('show-it', 300);
	   	$('.work-with-project-name').toggleClass('dim-it', 100);
	}, {
		offset: 0
	});

	
/* Case study Waypoints */
		
	{% if page.title == 'Visualplant' %}
	
		/* show slideshow(s) on mouseover */
	
		$('#slideshow').mouseover(function() {
		  $('#slideshow').removeClass('dim', 300);  //undim slideshow player;
		  $('#slideshow').addClass('show', 0);  //show slideshow player;
		});
		
		$('#slideshow-dos').mouseover(function() {
		  $('#slideshow-dos').removeClass('dim', 300);  //undim slideshow player;
		  $('#slideshow-dos').addClass('show', 0);  //show slideshow player;
		});
		
		/* Visualplant Waypoints */
		
		$('#slideshow').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
		  if (isInView) {
		    // element is now visible in the viewport
		    if (visiblePartY == 'top') {
		      // top part of element is visible
		    } else if (visiblePartY == 'bottom') {
		      // bottom part of element is visible
		    } else {
		      // whole part of element is visible
		      $('#slideshow').removeClass('dim', 300);  //undim slideshow player;
		      $('#slideshow').addClass('show', 0);  //show slideshow player;
		      $('#slideshow').flexslider("play");  //Play slideshow;
		    }
		  } else {
		    // element has gone out of viewport
		    $('#slideshow').flexslider("pause");  //Pause slideshow;
		    $('#slideshow').removeClass('show', 300);  //unshow slideshow player;
		    $('#slideshow').addClass('dim', 0);  //dim slideshow player;
		  }
		});
		
		$('#slideshow-dos').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
		  if (isInView) {
		    // element is now visible in the viewport
		    if (visiblePartY == 'top') {
		      // top part of element is visible
		    } else if (visiblePartY == 'bottom') {
		      // bottom part of element is visible
		    } else {
		      // whole part of element is visible
		      $('#slideshow-dos').removeClass('dim', 300);  //undim slideshow player;
		      $('#slideshow-dos').addClass('show', 0);  //show slideshow player;
		      $('#slideshow-dos').flexslider("play");  //Play slideshow;
		    }
		  } else {
		    // element has gone out of viewport
		    $('#slideshow-dos').flexslider("pause");  //Pause slideshow;
		    $('#slideshow-dos').removeClass('show', 300);  //unshow slideshow player;
		    $('#slideshow-dos').addClass('dim', 0);  //dim slideshow player;
		  }
		});

	
	{% else %}
	{% endif %}
	
	
	{% if page.title == 'Traveal' %}
	
		/* show slideshow on mouseover */
		
		$('#slideshow').mouseover(function() {
		  $('#slideshow').removeClass('dim', 300);  //undim slideshow player;
		  $('#slideshow').addClass('show', 0);  //show slideshow player;
		});
		
		/* Traveal Waypoints */

		$('#slideshow').bind('inview', function(event, isInView, visiblePartX, visiblePartY) {
		  if (isInView) {
		    // element is now visible in the viewport
		    if (visiblePartY == 'top') {
		      // top part of element is visible
		    } else if (visiblePartY == 'bottom') {
		      // bottom part of element is visible
		    } else {
		      // whole part of element is visible
		      $('#slideshow').removeClass('dim', 300);  //undim slideshow player;
		      $('#slideshow').addClass('show', 0);  //show slideshow player;
		      $('#slideshow').flexslider("play");  //Play slideshow;
		    }
		  } else {
		    // element has gone out of viewport
		    $('#slideshow').flexslider("pause");  //Pause slideshow;
		    $('#slideshow').removeClass('show', 300);  //unshow slideshow player;
		    $('#slideshow').addClass('dim', 0);  //dim slideshow player;
		  }
		});

	{% else %}
	{% endif %}
	
	
	
	{% if page.title == 'VOS' %}
		
	  var sourceSwap = function () {
      var $this = $(this);
      var newSource = $this.data('alt-src');
      $this.data('alt-src', $this.attr('src'));
      $this.attr('src', newSource);
    }

    $(function() {
      $('img[data-alt-src]').each(function() { 
          new Image().src = $(this).data('alt-src'); 
      }).hover(sourceSwap, sourceSwap); 

    });

    
    /*-------------------------------------------------------------------------------------------
    =VIDEO THUMB — Play / Stop Thumb
    --------------------------------------------------------------------------------------------*/
        $(document).on("mouseover", ".hasVideo", function(){
            $(this).children("img").hide();
            $(this).children('.video').get(0).play();
            $(".ico-has-video").addClass('ico-highlight');  
        });
        $(document).on("mouseout", ".hasVideo", function(){
            $(this).children("img").show(); 
            $(this).children('.video').get(0).pause();
            $(this).children('.video').get(0).currentTime = 0;
            $(".ico-has-video").removeClass('ico-highlight');  
        });    
        
        $(".work .columns article").click(function(){
            window.location=$(this).find("a").attr("href");
            return false;
        });

 
	{% else %}
	{% endif %} /* end VOS case study */

	{% if page.title == 'VaultifyTrade' %}
		
	  var sourceSwap = function () {
      var $this = $(this);
      var newSource = $this.data('alt-src');
      $this.data('alt-src', $this.attr('src'));
      $this.attr('src', newSource);
    }

    $(function() {
      $('img[data-alt-src]').each(function() { 
          new Image().src = $(this).data('alt-src'); 
      }).hover(sourceSwap, sourceSwap); 

    });

    
    /*-------------------------------------------------------------------------------------------
    =VIDEO THUMB — Play / Stop Thumb
    --------------------------------------------------------------------------------------------*/
        $(document).on("mouseover", ".hasVideo", function(){
            $(this).children("img").hide();
            $(this).children('.video').get(0).play();
            $(".ico-has-video").addClass('ico-highlight');  
        });
        $(document).on("mouseout", ".hasVideo", function(){
            $(this).children("img").show(); 
            $(this).children('.video').get(0).pause();
            $(this).children('.video').get(0).currentTime = 0;
            $(".ico-has-video").removeClass('ico-highlight');  
        });    
        
        $(".work .columns article").click(function(){
            window.location=$(this).find("a").attr("href");
            return false;
        });

 
	{% else %}
	{% endif %} /* end VaultifyTrade case study */

	
	{% if page.title == 'Mokini' %}
			
			/* Traveal Waypoints */

	
		{% else %}
		{% endif %}

</script>


<!-- Fullscreen  -->
<script type="text/javascript">
  function goFullscreen(id) {
    // Get the element that we want to take into fullscreen mode
    var element = document.getElementById(id);
    
    // These functions will not exist in the browsers that don't support fullscreen mode yet, 
    // so we'll have to check to see if they're available before calling them.
    
    if (element.mozRequestFullScreen) {
      // This is how to go into fullscren mode in Firefox
      // Note the "moz" prefix, which is short for Mozilla.
      element.mozRequestFullScreen();
    } else if (element.webkitRequestFullScreen) {
      // This is how to go into fullscreen mode in Chrome and Safari
      // Both of those browsers are based on the Webkit project, hence the same prefix.
      element.webkitRequestFullScreen();
   }
   // Hooray, now we're in fullscreen mode!
  }
 
</script>

<script type="text/javascript">
$('#filter-btn').click(function() {
  $('.b-filter-controls').slideToggle('fast');
  $('#filter-btn').toggleClass('filter-button-active', 0);
  $('unfilter').toggle();
});

$('#play-interview-btn').click(function() {
  $('#interview-video').slideToggle('fast');
  
});

/* Load Vimeo's JS asynchronously per http://css-tricks.com/thinking-async */
(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.src = 'http://a.vimeocdn.com/js/froogaloop2.min.js?495ca-1328924472';
    s.parentNode.insertBefore(g, s);
}(document, 'script'));


</script>


