---
layout: base
---
{% include mobile-menu.html %}
{% include header.html %}

{{ content }}

{% include footer.html %}

<!-- Flexslider -->
<script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        animationLoop: true,
        slideshow: false, // start automatically?
        start: function(slider){
          $('#slideshow').removeClass('loading');
        }
      });
    });
</script>

<script src="/assets/js/bootstrap-scrollspy.js"></script>

<script type="text/javascript" src="/assets/js/waypoints.min.js"></script>
<script type="text/javascript">
	$('.project-name').waypoint(function(event, direction) {
	   	$('.project-name-in-header').toggleClass('show-it', 300);
	   	$('.work-with-project-name').toggleClass('dim-it', 100);
	}, {
		offset: 0
	});
</script>

<script type="text/javascript">
$('#filter-btn').click(function() {
  $('.b-filter-controls').slideToggle('fast', function() {
  });
});
</script>

