---
layout: base
section: articles
---
{% include mobile-menu.html %}
{% include header.html %}		
			

<div class="container animate-in">
	<div class="row">
	
		<div class="onecol"></div>
		
			<div class="elevencol last">			
				<div class="box work">
						
						<div class="headline-page">{{ page.title }}</div>
						<div class="subhead">{{ page.description }}</div>

						<br clear="all" /><br />

							<div class="twocol">
								<div class="article-stats">Reading time<br />{{ page.readingtime }}</div>
								
								<br /><br />
							</div>
	
							<div class="eightcol body-text" style="margin-top: -4px;max-width: 570px;margin-right: 20px;margin-bottom: 40px;">
							
							{{ content }}

							</div>
							
							<div class="twocol last">
								<div class="article-stats">Posted on<br />{{ page.date | date_to_string }}</div>
							</div>
							
							
							
						<br clear="all" /><br /><br />
						
						
						
						<div class="twocol"></div>
						
						<div class="eightcol" style="text-align: center;margin-bottom: 20px;margin: 0 auto;">
						
													
						{% if page.previous.url %}
							<div style="float: left;">
						    &laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>
						    </div>
						  {% endif %}
						  
						
						  {% if page.previous.url %}
						    {% if page.next.url %}
						    <div style="float: left;">&nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;</div>
						    {% endif %}
						  {% endif %}
						  
						
						  {% if page.next.url %}
						  	<div style="float: right;margin-right: 20px;">
						    <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>&nbsp;&raquo;
						    </div>
						  {% endif %}
						
						</div>
						
						<div class="twocol last"></div>
						
						
						
						<br clear="all" /><br /><br />
		
					
						 
						
							<!-- 
							<footer>
								<dl class="byline author vcard">
									<div id="morePosts">
										<dt>&#x21A9; Archive</dt>
										<dd><a href="/articles/">More posts</a></dd>
									</div>
									<div id="published">
										<dt>Posted on</dt>
										<dd><time datetime="{{ post.date | date_to_xmlschema }}" pubdate class="updated">{{ post.date | date_to_string }}</time></dd>
									</div>
									<div id="readingTime">
										<dt>Reading time</dt>
										<dd>{{ readingtime }}</dd>
									</div>
									<div id="nextPost">
										<dt>Next post &rarr;</dt>
										<dd>
											<a href="../a-smoother-page-load/index.html">A Smoother Page Load</a> 
										</dd>
									</div>
								</dl>
							</footer>
							-->
						
				
						<!--<section class="tags">
						  <ul>
						    <li>Filed under:</li>
						  {% for tag in page.tags %}
						    <li><a href="#">{{ tag | capitalize }}</a></li>
						  {% endfor %}
						  </ul>
						</section>-->
	
					
				</div> <!-- /box work -->
			</div> <!-- /elevencol -->
			
		
	</div> <!-- /row -->
</div> <!-- /container -->

{% include footer.html %}