---
layout: base
section: articles
---
{% include mobile-menu.html %}
{% include header.html %}		
			

<div class="container animate-in">
	<div class="row">
	
		<div class="onecol"></div>
		
			<div class="elevencol last">			
				<div class="box work">
	
	
					<article id="content" class="hentry">
					
						<header>
							<div>
								<h1 class="entry-title">{{ page.title }}</h1>
								<p>Using media queries to make a clean break from legacy browsers.</p>
							</div>
						</header>
						
						<div class="wrapper">
							<div class="entry-content">
							
								{{ content }}
						
							</div>
						
							<!-- article footer -->
							<footer>
								<dl class="byline author vcard">
									<div id="morePosts">
										<dt>&#x21A9; Archive</dt>
										<dd><a href="/articles/">More posts</a></dd>
									</div>
									<div id="published">
										<dt>Posted on</dt>
										<dd><time datetime="{{ post.date | date_to_xmlschema }}" pubdate class="updated">{{ post.date | date_to_string }}</time></dd>
									</div>
									<div id="readingTime">
										<dt>Reading time</dt>
										<dd>{{ readingtime }}</dd>
									</div>
									<div id="nextPost">
										<dt>Next post &rarr;</dt>
										<dd>
											<a href="../a-smoother-page-load/index.html">A Smoother Page Load</a> 
										</dd>
									</div>
								</dl>
							</footer>
							<!-- /article footer -->
							
						</div>	<!-- /wrapper -->
						
				
						<!--<section class="tags">
						  <ul>
						    <li>Filed under:</li>
						  {% for tag in page.tags %}
						    <li><a href="#">{{ tag | capitalize }}</a></li>
						  {% endfor %}
						  </ul>
						</section>-->
					
					</article>
					
				</div> <!-- /elevencol -->
			</div> <!-- /box work -->
			
		
	</div> <!-- /row -->
</div> <!-- /container -->

{% include footer.html %}