---
layout: base-start
section: start
title: WORKS FOR THE INTERNET
---


		<div class="hero">
		
			<div style="position: relative;top: 45%;transform: translateY(-50%);font-size: 60px;color: white;">
					<span class="Texta-Regular" style="margin-right: 10px;">JSN</span> <span class="Texta-Thin"><nobr>Works for the Internet</nobr></span>
			</div>
			
			<div class="hero-links">
				<!--<a href="#" class="nav-links">About</a> --><a href="https://medium.com/@visualplant" class="nav-links">Articles</a> <a href="/portfolio/">Works</a>
			</div>
			
		</div>
		
		
		
		<!--<div class="hero" style="background: #000;">
		
			<div style="position: relative;top: 45%;transform: translateY(-50%);font-size: 60px;color: white;">
					<span class="Texta-Regular" style="margin-right: 10px;">JSN</span> <span class="Texta-Thin"><nobr>Works for the Internet</nobr></span>
			</div>
			
			<div class="hero-links" style="display: ;">
				<a href="#" class="nav-links">About</a> <a href="https://medium.com/@visualplant" class="nav-links">Articles</a> <a href="/portfolio/">Works</a>
			</div>
			
		</div>-->



