---
layout: base
section: start
title: works for the internet
---

<div style="height: 5px;width: 100%;background-color: #666;position: fixed;margin-top: -30px;z-index: 3;"></div>

<div class="container animated fadeInDown" style="margin-top:30px;">
	<div class="row">

		<div class="twelvecol last">
			<p>
			
			<a href="/about/"><span style="cursor: pointer;font-size:72px;font-weight:bold;letter-spacing:0.09em;color:#ff0099;letter-spacing:0.03em;text-shadow: 0px 2px 5px #fff;">alias</span></a>
		
			<!--<span style="font-size:76px;margin-right:6px;font-weight:bold;letter-spacing:0.09em;color:#aaa;font-family:kefa;letter-spacing:0.01em;">made</span>-->
			
			</p>
		</div>

	</div>
</div>

<div class="container">
	<div class="row">

		<div class="twelvecol last">
			<div class="tagline-startpage animated fadeIn delay-5s">
			
		  		<strong style="padding: 4px;">works for the internet</strong>
		  		
		</div>

	</div>
</div>

<br style="clear:both;" /><br />

<div class="container">
	<div class="row">

		<div class="fourcol startpage-divider">
			
			<p>
				<div class="portal-container animated flipInY delay2s"><a class="portal" style="background:transparent url(/assets/images/visualplant/player.jpg) no-repeat -500px -227px;" href="/portfolio/visualplant/"></a></div>
				<div class="projectname-startpage animated fadeIn delay2s"><a href="/portfolio/visualplant/">Visualplant</a></div>
				<div class="credit-startpage animated fadeIn delay2s" style="text-align:center;">Video Platform</div>
			</p>
		</div>

		<div class="fourcol startpage-divider">
			<p>
				<div class="portal-container animated flipInY delay2-5s"><a class="portal" style="background:transparent url(/assets/images/traveal/Traveal-Deals.png) no-repeat -320px -96px;" href="/portfolio/traveal/"></a></div>
				<div class="projectname-startpage animated fadeIn delay2-5s"><a href="/portfolio/traveal/">Traveal</a></div>
				<div class="credit-startpage animated fadeIn delay2-5s" style="text-align:center;">Travel Mobile App</div>
			</p>
			
		</div>
		
		<div class="fourcol last startpage-divider">
			<p>
				<div class="portal-container animated flipInX delay3s"><a class="portal" style="background:transparent url(/assets/images/mokini/mokini-start.png) no-repeat -65px -260px;" href="/portfolio/mokini/"></a></div>
				<div class="projectname-startpage animated fadeIn delay3s"><a href="/portfolio/mokini/">Mokini</a></div>
				<div class="credit-startpage animated fadeIn delay3s" style="text-align:center;">Web 3.0 Platform</div>
			</p>
			
		</div>
		
	</div>
</div>

<br clear="all"><br /><br />

<div class="container animated fadeIn delay4s">
	<div class="row">

		<div class="twelvecol last">
			
				<a href="/about/"><div class="about-button">about</div></a>
			
		</div>

		
	</div>
</div>

<br style="clear:both;" /><br/><br />


<div class="animated fadeIn delay4-5s">
{% include footer.html %}
</div>


<!--  
{{ page.title }}
{{ page.date }}
-->